<section class="section-education">

<h2 class="section-title">Education</h2>
<hr>

{% for education in site.data.education %}
  <div class="content-education">

    <h3 class="content-title">{{ education.degree }}</h3>
    <h4 class="content-education-details">{{ education.university }}</h4>

    <ul class="content-education-details">
      <li><h4>{{ education.duration }}</h4></li>
      <li><h4> | </h4></li>
      <li><h4>{{ education.location }}</h4></li>
    </ul>
    
  </div>
{% endfor %}

</section>