<section class="section-extracurriculars">

<h2 class="section-title">Extra Curriculars</h2>
<hr>
    
{% for ec in site.data.extra_curriculars %}

<div class="content-extra-curriculars">
  <h3 class="content-title">{{ ec.name }}</h3>

  <ul class="content-extracurricular-details">
    <li><h4>{{ ec.duration }}</h4></li>
    <li><h4> | </h4></li>
    <li><h4>{{ ec.location }}</h4></li>
  </ul>

  <ul class="content-certificate-dotpoints">
    {% for dotpoint in ec.summary %}
      <li><p class="content-dotpoint">{{ dotpoint.dotpoint }}</p></li>
    {% endfor %}
  </ul>
</div>

{% endfor %}
    
</section>
    