<section class="section-extra-curriculars">

<h2 class="section-title">Extra Curriculars</h2>
<hr>
    
{% for ec in site.data.extra_curriculars %}

<div class="content-extra-curriculars">
  <h3 class="content-title">{{ ec.name }}</h3>

  <ul class="content-extra-curriculars-details">
    <li><h4>{{ ec.duration }}</h4></li>
    <li><h4> | </h4></li>
    <li><h4>{{ ec.location }}</h4></li>
  </ul>

  <ul class="content-extra-curriculars-dotpoints">
    {% for dotpoint in ec.summary %}
      <li>{{ dotpoint.dotpoint }}</li>
    {% endfor %}
  </ul>
</div>

{% endfor %}
    
</section>
    