        {% if site.show_email == true %}
            <h3 class="contact_email">{{ site.contact_email }}</h1>
        {% endif %}

        {% if site.show_phone == true %}
            <h3 class="contact_phone">{{ site.contact_phone }}</h1>
        {% endif %}


        {% if site.show_location == true %}
            <h3 class="contact_location">{{ site.contact_location }}</h1>
        {% endif %}
    </div>

    <div class="content_executive_summary">
        {% if site.executive_summary == true %}
            <h3 class="executive_summary">{{ site.executive_summary_text }}</h1>
        {% endif %}
    </div>

</header><section class="section-header">

<div class="content-default-contact-information">
  {% if site.contact-photo == true %}
    <img class="contact-image" src="{{ site.contact-photo-file }}" alt="Headshot for CV">
  {% endif %}

  <h1 class="contact-name">{{ site.contact-name }}</h1>
  <h2 class="contact-resume-title">{{ site.resume-title }}</h2>
</div>

<div class="content-optional-contact-information">
</section>