<section class="section_header">

    <div class="content_default_contact_information">
        {% if site.contact_photo == true %}
            <img src="images/headshot.jpg" alt="Headshot for CV">
        {% endif %}

        <h1 class="contact_name">{{ site.contact_name }}</h1>
    </div>

    <div class="content_optional_contact_information">
        {% if site.show_email == true %}
            <h3 class="contact_email">{{ site.contact_email }}</h1>
        {% endif %}

        {% if site.show_phone == true %}
            <h3 class="contact_phone">{{ site.contact_phone }}</h1>
        {% endif %}


        {% if site.show_location == true %}
            <h3 class="contact_location">{{ site.contact_location }}</h1>
        {% endif %}
    </div>

    <div class="content_executive_summary">
        {% if site.executive_summary == true %}
            <h3 class="executive_summary">{{ site.executive_summary_text }}</h1>
        {% endif %}
    </div>

</header>