@import
  "variables"
;

html {
  scroll-behavior: smooth;
}

body {
  background: $background-colour;

  font: $default-font-family;
  color: $text-primary-colour;

  padding: $padding-px;
}

a {
  &,
  
  &:hover {
    color: $text-secondary-colour;
  }

  &:visited {
    color: $text-tertiary-colour;
  }
}

.cv-wrapper {
  position: relative;
  background: $foreground-colour;
  max-width: $wrapper-width;
  padding: calc($padding-px * 2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    margin-top: calc($padding-px/2);
    margin-bottom: calc($padding-px/2);
    font-size: $title-font-px;
  }
    
  h2, h3, h4 {
    margin-top: calc($padding-px/4);
    margin-bottom: calc($padding-px/4);
  }

  .section-title {
    text-transform: $title-text-transform;
    margin-top: calc(2 * $padding-px);
    margin-bottom: calc($padding-px/2);
    font-size: $large-font-px;
  }

  .content-title {
    font-size: $middle-font-px;
  }

  .section-header {
    .contact-image {
      display: inline-block;
      width: $img-size-px;
      max-width: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
    
    .content-default-contact-information {
      display: block;
      text-align: center;

      .contact-name {
        font-size: $title-font-px;
      }

      .contac-resume-title {
        font-size: $large-font-px;
      }
    }

    .content-optional-contact-information {
      display: block;
      font-size: $small-font-px;
      text-align: center;
      margin: 0;
      padding: 0;

      .contact-information {
        margin: 0;
        padding: 0;

        .small-contact-icon {
          width: $small-icon-px;
        }

        .large-contact-icon {
          width: $large-icon-px;
        }

        ul,li { 
          list-style-type: none;
          list-style-position: inside;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }

    .content-executive-summary {  
      .executive-summary {
        text-align: justify;
      }
    }
  }

  .content-experience-dotpoint, .content-skills-dotpoint, .content-certificate-dotpoints {
    text-align: justify;
  }

  .content-project-description, .content-certificate-description, .content-award-description {
    text-align: justify;
  }

  .section-experience, .section-education, .section-certificates, .section-languages, .section-awards, .section-projects, .section-extracurriculars {
    .content-experience-details, .content-education-details, .content-certificates, .content-languages, .content-awards, .content-project-details, .content-extracurricular-details {
      display: block;
      font-size: $small-font-px;
      margin: 0;
      padding: 0;

      ul, li { 
        list-style-type: none;
        list-style-position: inside;
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      .content-experience-dotpoint {
        ul, li {
          list-style-position:inside;
          text-align: justify;
        }
      }
    }
  }
}

.section-footer {
  padding-top: calc($padding-px / 2);

  .content-footer {
    color: $text-tertiary-colour;
    font-size: $tiny-font-px;
    text-align: center;
  }
}