html {
  scroll-behavior: smooth;
}

body {
  background: $background-colour;

  font: $default-font-family;
  color: $text-primary-colour;

  padding: $padding-px;
}

a {
  &,
  
  &:hover {
    color: $text-secondary-colour;
  }

  &:visited {
    color: $text-tertiary-colour;
  }
}

.cv-wrapper {
  margin: 0 auto;
  background: $foreground-colour;
  max-width: $wrapper-width;
  padding: $padding-px * 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    margin-top: $padding-px/2;
    margin-bottom: $padding-px/2;
    font-size: $title-font-px;
  }
    
  h2, h3, h4 {
    margin-top: $padding-px/4;
    margin-bottom: $padding-px/4;
  }

  .section-title {
    text-transform: $title-text-transform;
    margin-top: calc(1.5 * $padding-px);
    margin-bottom: $padding-px/2;
    font-size: $large-font-px;
  }

  .content-title {
    font-size: $middle-font-px;
  }

  .section-header {
    .contact-image {
      display: inline-block;
      width: $img-size-px;
      max-width: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
    
    .content-default-contact-information {
      display: block;
      text-align: center;

      .contact-name {
        font-size: $title-font-px;
      }

      .contac-resume-title {
        font-size: $large-font-px;
      }
    }

    .content-optional-contact-information {
      display: block;
      font-size: $small-font-px;
      text-align: center;
      margin: 0;
      padding: 0;

      .contact-information {
        margin: 0;
        padding: 0;

        .small-contact-icon {
          width: $small-icon-px;
        }

        .large-contact-icon {
          width: $large-icon-px;
        }

        ul,li { 
          list-style-type: none;
          list-style-position: inside;
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }

    .content-executive-summary {  
      .executive-summary {
        text-align: justify;
        font-size: $middle-font-px;
      }
    }
  }

  .content-experience-dotpoint, .content-project-description, .content-certificate-description, .content-extra-curriculars-dotpoints, .content-award-description, .content-skills-dotpoint {
    text-align: justify;
    margin-top: $padding-px / 8;
    font-size: $middle-font-px;
  }

  .content-experience-details, .content-education-details, .content-certificates, .content-languages, .content-awards, .content-project-details, .content-extra-curriculars-details {
    display: block;
    font-size: $small-font-px;
    margin: 0;
    padding: 0;

    ul, li { 
      list-style-type: none;
      list-style-position: inside;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
  }

  .content-education-duration {
    display: block;
    font-size: $small-font-px;
    margin-top: 0;
    margin-bottom: $padding-px;
    padding: 0;
  }

  .content-language-proficiency, .content-references-details {
    display: block;
    font-size: $middle-font-px;
    margin-top: 0;
    margin-bottom: $padding-px;
    padding: 0;
    color: red;
  }
}

.section-footer {
  padding-top: $padding-px / 2;

  .content-footer {
    color: $text-tertiary-colour;
    font-size: $tiny-font-px;
    text-align: center;
  }
}