<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <div class="cv-wrapper">
    {% include header.html %}

            {% if site.section_education %}
                {% include education.html %}
            {% endif %}

            {% if site.section_projects %}
                {% include projects.html %}
            {% endif %}

            {% if site.section_skills %}
                {% include projects.html %}
            {% endif %}

            {% if site.section_certificates %}
                {% include certificates.html %}
            {% endif %}

    {% if site.section-certificates %}
      {% include certificates.html %}
    {% endif %}

            {% if site.section_awards %}
                {% include awards.html %}
            {% endif %}

            {% include footer.html %}
  </div>

    {% include footer.html %}
</body>

</html>